//style.scss outputs style.css

//Compass Imports
@import "compass/css3";
@import "compass/typography";

//Mobile-first Design

//Typography Variables
$rhythm-unit: "rem";
$rem-with-px-fallback: true;
$round-to-nearest-half-line: true;
$base-font-size: 16px; //1rem
$base-line-height: 24px; //1.5rem
@include establish-baseline;

$h1: 1.75rem; //28px
$h2: 1.75rem; //28px
$h3: 1.5rem; //24px
$h4: 1.25rem; //20px
$h5: 1rem; //16px
$h6: 0.75rem; //12px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


//Fonts
$sans-fonts: Lato, Helvetica Neue, Helvetica, Arial, Sans-serif;
$serif-fonts: Merriweather, Arial, Serif;

@font-face {
	font-family: Langdon;
	src: url("../fonts/Langdon.otf") format("opentype");
	src: url('../fonts/Langdon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Langdon.woff') format('woff'),
         url('../fonts/Langdon.svg') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cac_champagneregular';
    src: url('../fonts/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cac_champagne-webfont.woff') format('woff'),
         url('../fonts/cac_champagne-webfont.ttf') format('truetype'),
         url('../fonts/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



//Color Variables
$navy: #2B344D;
$cream: #F8F7EE;
$red: #EE5555;
$teal: #52BBB2;
$gray: #444344;

//Mixins
@mixin main-section-style ($background, $color) {
	background: $background;
	color: $color;
	padding: $base-line-height*2 0;
	& h1 {
		color: $color;
	}
}

//Resetting Foundation default styles where appropriate
// .row {
// 	padding: 0;
// 	margin-bottom: 0;
// }

// .columns {
// 	padding-bottom: 0;
// }


//Page Styles
html {
	background: url(../img/jr-portfolio-bg.png) no-repeat center center fixed;
	@include background-size(cover);
	z-index: 200;
}

body {
	font-family: $serif-fonts;
	font-weight: $font-weight-normal;
	background: $cream;
	color: $gray;
	padding-top: 79px; //height of header for mobile
	//@include debug-vertical-alignment;
	& p {
		@include trailer;
	}
	& .home {
		@include main-section-style($navy, $cream);
		background: url(../img/jr-portfolio-bg.png) no-repeat center center fixed;
		@include background-size(cover);
	}
	& .about, .contact {
		@include main-section-style($cream, $gray);
	}
	& .work {
		@include main-section-style($navy, $cream);
	}
}

#{ headings(all) } {
	font-family: $sans-fonts;
}

h1 {
	@include adjust-font-size-to($h1); 
	font-weight: $font-weight-light;
	text-align: center;
	margin-bottom: rhythm(1, $h1);
}

h2 {
	@include adjust-font-size-to($h2); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h2);
}

h3 {
	@include adjust-font-size-to($h3); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h3);
}

h4 {
	@include adjust-font-size-to($h4); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h4);
}

h5 {
	@include adjust-font-size-to($h5); 
	font-weight: $font-weight-light;
	margin-bottom: rhythm(1, $h5);
}

h6 {
	@include adjust-font-size-to($h6); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h6);
}

.about-img {
	@include border-radius(100%);
	display: block;
	margin: 0 auto $base-line-height auto;
	border: solid 10px darken($cream, 10%);
}

// .img-container {
// 	width: 600px;
// 	margin: auto;
// 	padding: $base-line-height 0;
// 	text-align: center;
// 	background-color: $cream;
// 	box-shadow: 0 5px 0 darken($cream, 10%);
// 	@include border-radius(10px);
// }


.banner {
	font-family: Langdon, $sans-fonts;
	font-size: 400%;
	margin: 0;
	line-height: $base-line-height*2;
	text-align: center;
}

.subtitle {
	font-family: Lobster, cursive, $serif-fonts;
	font-size: 150%;
	margin: 0;
	line-height: $base-line-height;
	text-align: center;
}

.spaceman {
	margin: $base-line-height*2 auto 0 auto;
	display: block;
}

.img-box {
	width: 600px;
	margin: auto;
	text-align: center;
}

.work-img {
	@include border-radius(100%);
	margin: $base-line-height/2 $base-line-height;
	border: solid 10px lighten($navy, 10%);
	// box-shadow: 0 1px 5px lighten($navy, 25%);
	a &:hover {
		border: 2px solid $cream;
	}
}


//Header
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $cream;
	padding: $base-line-height/2 0;
	margin-bottom: 1px;
	z-index: 100;
	border-bottom: 1px solid $cream;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	@include single-transition(padding, 0.25s, linear);
}

.shrink-header {
	padding: 5px 0;
}

//Sticky Nav Anchor Link Fix
h1:before { 
  display: block; 
  content: " "; 
  margin-top: -115px; 
  height: 115px; 
  visibility: hidden; 
}

//Sticky Nav Anchor Link Fix Exception for Home Section
#home-section:before { 
  margin-top: -130px; 
  height: 130px; 
}

.logo {
	width: 75px;
	padding: 0 0 0 $base-line-height;
	opacity: .3;
}

.logo:hover {
	opacity: 1;
}

.my-name, .my-passion {
	margin-bottom: 0;
}

.main-nav {
	padding: $base-font-size $base-line-height $base-font-size $base-line-height;
	// display: block;
	& a {
		@include link-colors($gray, $red, $red);
		&:hover {
			border-bottom: 2px solid $red;
		}
	}
}

.main-nav ul {
	margin: $base-line-height 0;
	display: block;
	list-style-type: none;
}

.main-nav ul li {
	padding: $base-font-size/2 0;
	text-align: center;
}

.selected {
	// text-decoration: underline;
	font-weight: $font-weight-bold;
	color: $gray;
	border-bottom: 2px solid $gray;
}

.menu-hidden {
	display: none;
}


//Footer
.main-footer {
	background-color: $gray;
	color: $cream;
	text-align: center;
	padding: $base-line-height*2 0 $base-line-height 0;
}

footer p {
	margin-top: $base-line-height;
}

//Icons
.main-nav li [class*="fi-"] {
	font-size: $h1;
	text-align: center;
	color: $gray;
	position: relative;
	top: -45px;
	margin: 0;
	padding: 0;
}

footer a {
	font-size: $h1;
	color: $cream;
	padding-left: $base-line-height;
	&:hover {
		color: $red;
	}
	&:first-child {
		padding-left: 0;
	}
}

.fi-list {
	display: block;
	top: 1px;
	float: right;
	padding: 0 $base-line-height;
	font-size: $h1*1.25;
	color: darken($cream, 15%);
}

.main-nav ul li .fi-home {
	display: none;
}

.main-nav ul li .fi-torso-business {
	display: none;
}

.main-nav ul li .fi-laptop {
	display: none;
}

.main-nav ul li .fi-mail {
	display: none;
}



//Media Queries

//Display hamburger menu items horizontally between medium and small screen sizes
@media only screen and (min-width: 641px) and (max-width: 768px) {


	.main-nav {
		padding: $base-font-size $base-font-size 0 0;
		display: block;
		right: 0;
		& a:hover {
			border-bottom: none;
		}
	}

	.main-nav ul {
		margin: $base-line-height 0;
		text-align: center;
	}

	.main-nav ul li {
		padding: $base-font-size 0 $base-font-size $base-font-size;
		display: inline;
	}

	.main-nav ul br {
		display: none;
		&:first-child {
			display: block;
		}
		&:nth-child(2) {
			display: block;
		}
	}

	.main-nav ul li a {
		display: inline-block
	}

	.menu-hidden {
		display: none;
	}
}

//Medium screen size and up
@media only screen and (min-width: 769px) { 
	
	//Typography Variables
	$base-font-size: 20px; //1rem
	$base-line-height: 32px; //1.6rem
	@include establish-baseline;

	$h1: 1.8rem; //36px
	$h2: 1.6rem; //32px
	$h3: 1.4rem; //28px
	$h4: 1.2rem; //24px
	$h5: 1rem; //20px
	$h6: 0.8rem; //16px

	//Page Styles
	body {
		padding-top: 138px; //height of header
	}

	//Aligning Site Banner
	.row-container {
		@include flexbox((
			display: flex,
			align-items: center,
			justify-content: center
		));
	}
	
	//Fix for home navigation when flexbox layout for banner
	#home-section {	
		display: block;
		margin-bottom: 0;
		padding: 0;
	}

	.banner {
		font-size: 1000%;
		line-height: $base-line-height*6;
		text-align: right;
	}

	.subtitle {
		font-size: 425%;
		text-align: right;
	}

	.spaceman {
		margin: $base-line-height*2 auto;
		float: left;
	}

	.columns.small-centered.clear-margin {
		margin: 0;
	}

	//Header
	header {
		padding: $base-line-height 0;
	}

	//Sticky Nav Anchor Link Fix
	h1:before { 
	  margin-top: -133px; 
	  height: 133px;  
	}

	//Sticky Nav Anchor Link Fix Exception for Home Section
	#home-section:before { 
	  margin-top: -189px; 
	  height: 189px; 
	}

	.logo {
		width: 105px;
		padding: 0 0 0 $base-line-height;
	}

	.main-nav {
		padding: $base-font-size $base-font-size 0 0;
		display: block;
		float: right;
		right: 0;
		& a:hover {
			border-bottom: none;
		}
	}

	.main-nav ul {
		margin: 0;
	}

	.main-nav ul li {
		padding: $base-font-size 0 $base-font-size $base-font-size;
		display: inline;
	}

	.main-nav ul br {
		display: none;
	}

	.main-nav ul li a {
		display: inline-block
	}

	.selected {
		border-bottom: none;
	}

	.fi-list {
		display: none;
	}
}

//Large screen banner text fix
@media only screen and (min-width: 913px) and (max-width: 1202px) { 
	.banner {
		font-size: 800%;
		line-height: $base-line-height*4;
	}

	.subtitle {
		font-size: 340%;
	}
}


//Medium to Large screen banner text fix
@media only screen and (min-width: 769px) and (max-width: 913px) {
	.banner {
		font-size: 600%;
		line-height: $base-line-height*3;
	}

	.subtitle {
		font-size: 255%;
	}
}

















