//style.scss outputs style.css

//Compass Imports
@import "compass/css3";
@import "compass/typography";

//Mobile-first Design

//Typography Variables
$rhythm-unit: "rem";
$rem-with-px-fallback: true;
$round-to-nearest-half-line: true;
$base-font-size: 16px; //1rem
$base-line-height: 24px; //1.5rem
@include establish-baseline;

$h1: 1.75rem; //28px
$h2: 1.75rem; //28px
$h3: 1.5rem; //24px
$h4: 1.25rem; //20px
$h5: 1rem; //16px
$h6: 0.75rem; //12px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$sans-fonts: Lato, Helvetica Neue, Helvetica, Arial, Sans-serif;
$serif-fonts: Merriweather, Arial, Serif;


//Color Variables
$navy: #2B344D;
$cream: #F8F7EE;
$red: #EE5555;
$teal: #52BBB2;
$gray: #444344;

//Mixins
@mixin main-section-style ($background, $color) {
	background: $background;
	color: $color;
	padding: $base-line-height*2 0;
	& h1 {
		color: $color;
	}
}

//Resetting Foundation default styles where appropriate
.row {
	padding: 0;
	margin-bottom: 0;
}

.columns {
	padding-bottom: 0;
}

// .right {
// 	padding-bottom: 0;
// }

// .inline-list {
// 	padding-bottom: 0;
// }


//Page Styles
body {
	font-family: $serif-fonts;
	font-weight: $font-weight-normal;
	background: $cream;
	color: $gray;
	padding-top: 79px; //height of header for mobile
	//@include debug-vertical-alignment;
	& p {
		@include trailer;
	}
	& .home {
		@include main-section-style($navy, $cream);
	}
	& .about, .contact {
		@include main-section-style($cream, $gray);
	}
	& .work {
		@include main-section-style($teal, $cream);
	}
}

#{ headings(all) } {
	font-family: $sans-fonts;
}

h1 {
	@include adjust-font-size-to($h1); 
	font-weight: $font-weight-light;
	text-align: center;
	margin-bottom: rhythm(1, $h1);
}

h2 {
	@include adjust-font-size-to($h2); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h2);
}

h3 {
	@include adjust-font-size-to($h3); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h3);
}

h4 {
	@include adjust-font-size-to($h4); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h4);
}

h5 {
	@include adjust-font-size-to($h5); 
	font-weight: $font-weight-light;
	margin-bottom: rhythm(1, $h5);
}

h6 {
	@include adjust-font-size-to($h6); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h6);
}

//Header
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $cream;
	padding: $base-line-height/2 0;
	margin-bottom: 1px;
	z-index: 100;
	border-bottom: 1px solid $cream;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

//Sticky Nav Anchor Link Fix
h1:before { 
  display: block; 
  content: " "; 
  margin-top: -143px; 
  height: 143px; 
  visibility: hidden; 
}

.logo {
	width: 75px;
	padding: 0 0 0 $base-line-height;
	opacity: .3;
}

.logo:hover {
	opacity: 1;
}

.my-name, .my-passion {
	margin-bottom: 0;
}

.main-nav {
	padding: $base-font-size $base-font-size 0 0;
	// display: block;
	& a {
		@include link-colors($gray, $red, $red);
		&:hover {
			border-bottom: 2px solid $red;
		}
	}
}

// .right {
// 	right: 35%;
// }


.main-nav ul {
	margin: $base-line-height 0;
	display: block;
	list-style-type: none;
}

.main-nav ul li {
	padding: $base-font-size/2 0;
	text-align: center;
}

.selected {
	// text-decoration: underline;
	font-weight: $font-weight-bold;
	color: $gray;
	border-bottom: 2px solid $gray;
}

.menu-hidden {
	display: none;
}


//Footer
.main-footer {
	background-color: $gray;
	color: $cream;
	text-align: center;
	padding: $base-line-height*2 0 $base-line-height 0;
}

//Icons
[class*="fi-"] {
	font-size: $h1;
	text-align: center;
	color: $gray;
	position: relative;
	top: -45px;
	margin: 0;
	padding: 0;
}

.fi-list {
	display: block;
	top: 1px;
	float: right;
	padding: 0 $base-line-height;
	font-size: $h1*1.25;
	color: darken($cream, 15%);
}

.main-nav ul li .fi-home {
	display: none;
}

.main-nav ul li .fi-torso-business {
	display: none;
}

.main-nav ul li .fi-laptop {
	display: none;
}

.main-nav ul li .fi-mail {
	display: none;
}



//Media Queries

//Display hamburger menu items horizontally between medium and small screen sizes
@media only screen and (min-width: 641px) and (max-width: 768px) {


	.main-nav {
		padding: $base-font-size $base-font-size 0 0;
		display: block;
		right: 0;
		& a:hover {
			border-bottom: none;
		}
	}

	// .right {
	// 	right: 0;
	// }

	.main-nav ul {
		margin: $base-line-height 0;
		text-align: center;
	}

	.main-nav ul li {
		padding: $base-font-size 0 $base-font-size $base-font-size;
		display: inline;
	}

	.main-nav ul br {
		display: none;
		&:first-child {
			display: block;
		}
		&:nth-child(2) {
			display: block;
		}
	}

	.main-nav ul li a {
		display: inline-block
	}

	.menu-hidden {
		display: none;
	}
}

//Medium screen size and up
@media only screen and (min-width: 769px) { 
	
	//Typography Variables
	$base-font-size: 20px; //1rem
	$base-line-height: 32px; //1.6rem
	@include establish-baseline;

	$h1: 1.8rem; //36px
	$h2: 1.6rem; //32px
	$h3: 1.4rem; //28px
	$h4: 1.2rem; //24px
	$h5: 1rem; //20px
	$h6: 0.8rem; //16px

	//Page Styles
	body {
		padding-top: 138px; //height of header
	}

	//Header
	header {
		padding: $base-line-height 0;
	}

	//Sticky Nav Anchor Link Fix
	h1:before { 
	  margin-top: -189px; 
	  height: 189px;  
	}

	.logo {
		width: 105px;
		padding: 0 0 0 $base-line-height;
	}

	.main-nav {
		padding: $base-font-size $base-font-size 0 0;
		display: block;
		float: right;
		right: 0;
		& a:hover {
			border-bottom: none;
		}
	}

	// .right {
	// 	right: 0;
	// }

	.main-nav ul {
		margin: 0;
	}

	.main-nav ul li {
		padding: $base-font-size 0 $base-font-size $base-font-size;
		display: inline;
	}

	.main-nav ul br {
		display: none;
	}

	// .main-nav ul li:first-child  {
	// 	//fix for 13px where responsiveness of header was off - from 768 to 781px
	// 	margin-left: 0;
	// }

	.main-nav ul li a {
		display: inline-block
	}

	.selected {
		border-bottom: none;
	}

	.fi-list {
		display: none;
	}
}

