//style.scss outputs style.css

//Compass Imports
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";


//Typography Variables
$rhythm-unit: "rem";
$rem-with-px-fallback: true;
$round-to-nearest-half-line: true;
$base-font-size: 16px; //1rem
$base-line-height: 1.5rem; //24px, 1.5rem
@include establish-baseline;

$h1: 1.75rem; //28px
$h2: 1.75rem; //28px
$h3: 1.5rem; //24px
$h4: 1.25rem; //20px
$h5: 1rem; //16px
$h6: 0.75rem; //12px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


//Fonts
$sans-fonts: Lato, "Helvetica Neue", Helvetica, Arial, Sans-serif;
$serif-fonts: Merriweather, Arial, Serif;

@font-face {
	font-family: Langdon;
	src: url("../fonts/Langdon.otf") format("opentype");
	src: url('../fonts/Langdon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Langdon.woff') format('woff'),
         url('../fonts/Langdon.svg') format('svg');
	font-weight: normal;
    font-style: normal;
}

//Color Variables
$navy: #2B344D;
$cream: #F8F7EE;
$red: #EE5555;
$teal: #52BBB2;
$gray: #444344;

//Mixins
@mixin main-section-style ($background, $color) {
	background: $background;
	color: $color;
	padding: $base-line-height*2 0;
	& h1 {
		color: $color;
	}
}


//Page Styles
a:hover {
	@include single-transition(all, 0.3s, ease-in);
}

body {
	font-family: $serif-fonts;
	font-weight: $font-weight-normal;
	background: $cream;
	color: $gray;
	padding-top: 78px; //height of header for mobile
	overflow-x: hidden; //Fix for IE10 horizontal overflow
	& p {
		@include trailer;
	}
	& .home {
		@include main-section-style($navy, $cream);
		background: url(../img/jr-portfolio-bg.png) no-repeat center center fixed;
		@include background-size(cover);
	}
	& .about, .contact {
		@include main-section-style($cream, $gray);
	}
	& .work {
		@include main-section-style($navy, $cream);
	}
}

.italic {
	font-style: italic;
}

.main-content a {
	background-color: darken($cream, 5%);
	@include link-colors($gray, $red, $red, $gray, $red);
}

#{ headings(all) } {
	font-family: $sans-fonts;
}

h1 {
	@include adjust-font-size-to($h1); 
	font-weight: $font-weight-light;
	text-align: center;
	margin-bottom: rhythm(1, $h1);
}

h2 {
	@include adjust-font-size-to($h2); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h2);
}

h3 {
	@include adjust-font-size-to($h3); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h3);
}

h4 {
	@include adjust-font-size-to($h4); 
	font-weight: $font-weight-normal;
	margin-bottom: rhythm(1, $h4);
}

h5 {
	@include adjust-font-size-to($h5); 
	font-weight: $font-weight-light;
	margin-bottom: rhythm(1, $h5);
}

h6 {
	@include adjust-font-size-to($h6); 
	font-weight: $font-weight-bold;
	margin-bottom: rhythm(1, $h6);
}

.checklist {
	background-color: $teal;
	color: $cream;
	padding: $base-line-height*2;
	@include border-radius(5px);
	box-shadow: 0 5px 0 darken($teal, 10%);
}

.checklist-item {
	cursor: pointer;
	span {
		background-color: darken($teal, 5%);
		// margin-left: 20px;
		&:hover{
			background-color: darken($teal, 10%);
			color: darken($cream, 10%);
		}
	}
}

.checklist-description {
	display: none;
}

.about-img {
	@include border-radius(100%);
	display: block;
	margin: 0 auto $base-line-height auto;
	border: solid 10px darken($cream, 10%);
}


.banner {
	font-family: Langdon, $sans-fonts;
	font-size: 400%;
	text-transform: uppercase;
	margin: 0;
	line-height: $base-line-height*2;
	text-align: center;
}

.subtitle {
	font-family: Lobster, cursive, $serif-fonts;
	font-size: 150%;
	margin: 0;
	line-height: $base-line-height;
	text-align: center;
}

.spaceman {
	margin: $base-line-height*2 auto 0 auto;
	display: block;
}

.spaceman-mike {
	margin: $base-line-height*2 auto;
	display: block;
}

.space-on-top {
	margin-top: $base-line-height*5;
}

blockquote {
	color: $gray;
	font-family: $sans-fonts;
	font-size: $h4;
	display: block;
	cite {
		color: $gray;
	}
}

.img-box {
	width: 600px;
	margin: auto;
	text-align: center;
	& a {
		background-color: $navy;
	}
}

a .work-img:hover {
	@include single-transition(all, .3s, ease-in);
}

.work-img {
	@include border-radius(100%);
	margin: $base-line-height;
	border: solid 10px lighten($navy, 10%);
	a &:hover, a &:focus {
		border: 2px solid $cream;
	}
}


//Header
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $cream;
	padding: 0.8rem 0;
	z-index: 100;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	@include single-transition(padding, 0.25s, linear);
}

.shrink-header {
	padding: 5px 0;
}

//Sticky Nav Anchor Link Fix
h1:before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
}

//Sticky Nav Anchor Link Fix Exception for Home Section
#home-section:before { 
  margin-top: -145px; 
  height: 145px; 
}

.logo {
	width: 75px;
	padding: 0 0 0 $base-line-height;
	opacity: .3;
	@include single-transition(all, 0.3s, ease-in);
}

.logo:hover, .logo:focus {
	opacity: 1;
}

.my-name, .my-passion {
	margin-bottom: 0;
}

.main-nav {
	padding: $base-font-size $base-line-height $base-font-size $base-line-height;
	text-align: center;
	& a {
		@include link-colors($gray, $red, $red, $gray, $red);
		&:hover, &:focus {
			border-bottom: 2px solid $red;
		}
	}
}

.main-nav ul {
	margin: $base-line-height*3 0 0 0;
	list-style-type: none;
	clear: both;
}

.main-nav ul li {
	padding: $base-font-size*1.25 0;
}

.selected {
	font-weight: $font-weight-bold;
	color: $gray;
	border-bottom: 2px solid $gray;
}

.menu-hidden {
	display: none;
}


//Footer
.main-footer {
	background-color: $gray;
	color: $cream;
	text-align: center;
	padding: $base-line-height*2 0 $base-line-height 0;
}

footer p {
	margin-top: $base-line-height;
}

//Icons
.main-nav li [class*="fi-"] {
	font-size: $h1;
	text-align: center;
	color: $gray;
	position: relative;
	top: -45px;
	margin: 0;
	padding: 0;
}

.social-icons {
	text-align: center;
}

.social-icons a {
	font-size: $h1;
	color: $gray;
	background-color: $cream;
	padding-left: $base-line-height;
	&:hover, &:focus {
		color: $red;
	}
	&:first-child {
		padding-left: 0;
	}
}

.fi-list {
	display: block;
	top: 1px;
	float: right;
	padding: 0 $base-line-height;
	font-size: $h1*1.25;
	color: darken($cream, 15%);
}

.fi-check {
	font-size: $base-font-size;
	color: $cream;
	padding-right: 20px;
	margin-left: -2rem;
}


//Media Queries

//Display hamburger menu items horizontally between medium and small screen sizes
@media only screen and (min-width: 641px) and (max-width: 768px) {


	.main-nav {
		padding: $base-font-size 0;
		display: block;
	}

	.main-nav ul li {
		padding: $base-font-size;
		display: inline;
	}

	.main-nav ul li a {
		display: inline-block
	}

	.menu-hidden {
		display: none;
	}

	.work-img {
		margin: $base-line-height/2 $base-line-height;
		display: inline;
	}

	.social-icons {
		font-size: $h1*1.25;
	}
}

//Medium screen size and up
@media only screen and (min-width: 769px) { 
	
	//Typography Variables
	$base-font-size: 20px; //1rem
	$base-line-height: 1.6rem; //32px, 1.6rem
	@include establish-baseline;

	$h1: 1.8rem; //36px
	$h2: 1.6rem; //32px
	$h3: 1.4rem; //28px
	$h4: 1.2rem; //24px
	$h5: 1rem; //20px
	$h6: 0.8rem; //16px

	//Page Styles
	body {
		padding-top: 138px; //height of header
	}

	//Aligning Site Banner
	.row-container {
		//IE10 fix
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;

		@include flexbox((
			display: flex,
			align-items: center,
			justify-content: center
		));
	}
	
	//Fix for home navigation when flexbox layout for banner
	#home-section {	
		display: block;
		margin-bottom: 0;
		padding: 0;
	}

	.banner {
		font-size: 1000%;
		line-height: $base-line-height*6;
		text-align: right;
	}

	.subtitle {
		font-size: 425%;
		text-align: right;
	}

	.spaceman {
		margin: $base-line-height*2 auto;
		float: left;
	}

	.columns.small-centered.clear-margin {
		margin-left: 0;
		margin-right: 0;
	}

	//Header
	header {
		padding: $base-line-height 0;
	}

	//Sticky Nav Anchor Link Fix
	h1:before { 
	  margin-top: -133px; 
	  height: 133px;  
	}

	//Sticky Nav Anchor Link Fix Exception for Home Section
	#home-section:before { 
	  margin-top: -189px; 
	  height: 189px; 
	}

	.logo {
		width: 105px;
		padding: 0 0 0 $base-line-height;
	}

	.main-nav {
		padding: $base-font-size $base-line-height 0 0;
		display: block;
		float: right;
		right: 0;
	}

	.main-nav ul {
		margin: 0;
	}

	.main-nav ul li {
		padding: $base-font-size 0 $base-font-size $base-font-size;
		display: inline;
	}

	.main-nav ul li a {
		display: inline-block
	}

	.selected {
		border-bottom: none;
	}

	.fi-list {
		display: none;
	}

	.fi-check {
		padding-right: 7px;
		margin-left: -1.25rem;
	}
}

//Large screen banner text fix
@media only screen and (min-width: 936px) and (max-width: 1202px) { 
	.banner {
		font-size: 800%;
		line-height: $base-line-height*4;
	}

	.subtitle {
		font-size: 340%;
		line-height: $base-line-height*3;
	}
}


//Medium to Large screen banner text fix
@media only screen and (min-width: 769px) and (max-width: 935px) {
	.banner {
		font-size: 600%;
		line-height: $base-line-height*2;
	}

	.subtitle {
		font-size: 255%;
		line-height: $base-line-height*1.5;
	}
}

//Fix for blockquote
@media only screen and (min-width: 1025px) {
	blockquote {
		color: $gray;
		font-family: $sans-fonts;
		text-align: right;
		border-left: none;
		border-right: 1px solid #ddd;
		margin-left: -15rem;
		font-size: $h4;
		cite {
			color: $gray;
		}
	}
}

















